.divider {
    border: none;
    border-top: 1px solid var(--color-border);
    margin-block: var(--space-8);

    &--sm {
        margin-block: var(--space-4);
    }

    &--lg {
        margin-block: var(--space-12);
    }
}
